* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  width: 100%;
  height: 100%;
}
.menu-label {
  display: block;
}
.submenu-label {
  margin-left: 30px;
  pointer-events: none;
}